@model MiniERPSystem.Models.Customer


<h3>Are you sure you want to delete this customer??</h3>

<p>@Model.Name</p>
<p>@Model.Email</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id"/>
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>